@charset "UTF-8";
* {
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1400px;
  height: auto;
  margin: auto;
}

@media only screen and (max-width: 500px) {
  .wrapper {
    width: 100%;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: auto;
  height: 100px;
  border-bottom: 1px solid gray;
}
nav .words {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  gap: 20px;
}
nav .words a {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.03em;
  color: #142251;
}
nav .words a:hover {
  color: #3d6aff;
}
nav .nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: transparent;
  border: none;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.03em;
  color: #213887;
}
nav .burger {
  display: none;
  gap: 3px;
  width: 22px;
  height: 15px;
  flex-direction: column;
}
nav .burger .item {
  width: 22px;
  height: 3px;
  border-radius: 3px;
  background-color: black;
}

@media only screen and (max-width: 500px) {
  .burger {
    display: flex !important;
  }
  .words {
    display: none !important;
  }
  .nav-btn {
    display: none !important;
  }
  .image {
    width: 130px;
    height: 20px;
  }
}
.intro {
  display: flex;
  justify-content: center;
  width: 100%;
}
.intro .intro-left .h1 {
  margin-top: 20px;
  width: 500px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 85%;
  letter-spacing: -0.04em;
  color: #142251;
}
.intro .intro-left .h1 .h1-span {
  color: gray;
}
.intro .intro-left .intro-text {
  margin-top: 15px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #989EB1;
}
.intro .intro-left .intro-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 10px;
  background: rgba(33, 56, 135, 0.06);
  border-radius: 8px;
  border: none;
}

.button {
  display: none;
}

@media only screen and (max-width: 500px) {
  .h1 {
    width: 320px !important;
    font-weight: 500 !important;
    font-size: 40px !important;
  }
  .intro-text {
    width: 290px;
    font-size: 14px;
  }
  .pic {
    width: 340px;
    height: 280px;
  }
  .intro {
    width: 90% !important;
    margin: auto;
    flex-direction: column;
  }
  .intro-btn {
    display: none !important;
  }
  .button {
    display: inline-block !important;
    background: rgba(33, 56, 135, 0.06);
    border: none;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
  }
}
.who {
  margin-bottom: 100px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.who .h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 94px */
  text-align: center;
  letter-spacing: -0.04em;
  color: #142251;
}
.who .who-p {
  /* О нас не пишут рейтинговые агентства и поисковые системы */
  margin-top: 10px;
  margin-bottom: 50px;
  width: 310px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* or 41px */
  text-align: center;
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989EB1;
}
.who .pos {
  /* 2. Применяем агентскую сеть по всему миру */
  position: absolute;
  top: 470px;
  width: 200px;
  left: 420px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  /* or 34px */
  letter-spacing: -0.04em;
  text-align: left;
  /* #AFB4C4 */
  color: #142251;
}
.who .pos .number {
  color: gray;
}
.who .pos-2 {
  position: absolute;
  top: 180px;
  width: 270px;
  right: 245px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  /* or 34px */
  letter-spacing: -0.04em;
  text-align: left;
  /* #AFB4C4 */
  color: #142251;
}
.who .pos-2 .number {
  color: gray;
}
.who .pos-3 {
  position: absolute;
  bottom: 50px;
  width: 170px;
  left: 1150px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  /* or 34px */
  letter-spacing: -0.04em;
  text-align: left;
  /* #AFB4C4 */
  color: #142251;
}
.who .pos-3 .number {
  color: gray;
}

.p1 {
  width: 110% !important;
  height: 160px;
  margin: auto;
}

.m1 {
  display: none;
  flex-direction: column;
  gap: 10px;
  width: 90%;
}

.d1 {
  display: flex;
  padding: 20px;
  gap: 30px;
  width: 100%;
  height: 160px;
  background-color: rgba(33, 56, 135, 0.06);
  align-items: center;
  border-radius: 10px;
}

.t1 {
  /* Применяем агентскую сеть по всему миру */
  width: 137px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  /* or 20px */
  letter-spacing: -0.02em;
  /* #142251 */
  color: #142251;
}

@media only screen and (max-width: 500px) {
  .h2 {
    font-size: 40px !important;
    text-align: left !important;
  }
  .who-p {
    width: 270px;
    font-size: 20px !important;
    text-align: left !important;
  }
  .who {
    margin-top: 50px !important;
    margin: auto;
    align-items: start;
  }
  .pi {
    display: none;
  }
  .pos {
    display: none;
  }
  .pos-2 {
    display: none;
  }
  .pos-3 {
    display: none;
  }
  .m1 {
    display: flex !important;
  }
}
.work {
  width: 90%;
  background-color: #F3F6F9;
  border-radius: 50px;
  padding: 50px;
}
.work .mini-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work .mini-nav .h3 {
  /* Услуги */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  /* or 94px */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.04em;
  /* #142251 */
  color: #142251;
}
.work .mini-nav .a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.work .mini-nav .a .a-text {
  /* Когда другие бессильны - мы делаем */
  width: 250px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
  /* or 36px */
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989EB1;
}
.work .exam {
  display: flex;
  gap: 5px;
  margin-top: 20px;
}
.work .exam .part {
  width: 310px;
  padding: 5px 0px 20px 5px;
  background-color: white;
  border-radius: 20px;
}
.work .exam .part .h4 {
  margin-left: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 90%;
  /* or 31px */
  letter-spacing: -0.04em;
  /* #142251 */
  color: #142251;
}
.work .exam .part .text {
  margin-left: 10px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 100%;
  /* identical to box height, or 17px */
  letter-spacing: -0.04em;
  color: #142251;
}

@media only screen and (max-width: 500px) {
  .a {
    width: 270px;
    justify-content: start !important;
  }
  .h4 {
    margin-left: 0px !important;
  }
  .h3 {
    font-size: 40px;
    width: 100% !important;
  }
  .text {
    margin-left: 0px !important;
  }
  .a-text {
    text-align: start !important;
    width: 100% !important;
    font-size: 14px !important;
  }
  .mini-nav {
    margin-left: 20px;
    flex-wrap: wrap;
    width: 100%;
    align-items: start;
    justify-content: center;
    text-align: start !important;
  }
  .p3 {
    display: none;
  }
  .work {
    border-radius: 10px;
    width: 90% !important;
    margin: auto !important;
    padding: 0px 0px 10px 0px;
  }
  .exam {
    margin-left: 30px;
    flex-direction: column;
    width: 90%;
  }
  .pard {
    padding: 0px;
    width: 70% !important;
  }
  .p4 {
    width: 95%;
  }
}
.how {
  margin-top: 150px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.how .h1 {
  width: 300px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  /* or 84px */
  letter-spacing: -0.04em;
  color: #142251;
}

.helper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.block {
  width: 200px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px 20px;
}

.hh1 {
  /* Как мы работаем */
  text-align: center;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: 40px;
  /* identical to box height, or 34px */
  color: #142251;
}

.ho2 {
  display: none;
  width: 90%;
  margin: 50px auto;
}

.help {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .ho2 {
    display: block;
  }
  .how {
    display: none;
  }
  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 90%;
  }
}
.clients {
  width: 90%;
  height: 800px;
  display: flex;
  justify-content: center;
  background-size: 75% 60%;
  padding: 50px;
  background-color: #f2f3f8;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url(../img/graphic.png);
}
.clients .h6 {
  width: 185px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 90%;
  /* or 76px */
  letter-spacing: -0.04em;
  color: #142251;
}
.clients .super {
  width: 56%;
  margin: auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.clients .super .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: white;
}
.clients .super .container .min {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
}
.clients .super .container .gray {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 140%;
  /* identical to box height, or 48px */
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989eb1;
}
.clients .p {
  width: 245px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* or 41px */
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989eb1;
}

.pp {
  display: none;
  width: 258px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 20px 0;
  /* or 41px */
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989eb1;
}

@media only screen and (max-width: 500px) {
  .clients {
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
  .h6 {
    font-size: 40px !important;
  }
  .pp {
    display: block;
  }
  .p {
    display: none;
  }
  .container {
    width: 120px !important;
    height: 120px !important;
  }
  .gray {
    font-size: 16px !important;
  }
  .min {
    width: 50px !important;
    height: 50px !important;
  }
  .super {
    width: 340px !important;
    gap: 10px !important;
  }
}
.about {
  width: 90%;
  margin-top: 50px;
  padding: 50px;
  position: relative;
}
.about .about-h {
  /* Связаться с нами */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 84px */
  letter-spacing: -0.04em;
  color: #142251;
  margin-bottom: 80px;
}
.about .lab {
  /* Меня зовут */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 400%;
  /* identical to box height, or 34px */
  letter-spacing: -0.03em;
  margin-left: 5px;
  color: #142251;
}
.about .inp {
  border: none;
  border-bottom: 1px solid gray !important;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 34px */
  letter-spacing: -0.03em;
  margin-left: 10px;
}
.about .dis {
  position: absolute;
  left: 460px;
  bottom: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 10px;
  border: none;
  background: rgba(33, 56, 135, 0.06);
  border-radius: 5px;
}

.mini-p {
  /* Согласие на обработку персональных данных */
  width: 245.13px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  /* or 27px */
  letter-spacing: -0.03em;
  /* #AFB4C4 */
  color: #989eb1;
}

.hel {
  display: none !important;
}

.inp2 {
  display: none;
  border: none;
  border-bottom: 1px solid gray !important;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  width: 90%;
  font-size: 16px;
  line-height: 170%;
  /* identical to box height, or 34px */
  letter-spacing: -0.03em;
  margin-left: 10px;
}

.last {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 500px) {
  .about {
    padding: 20px !important;
  }
  .about-h {
    font-size: 40px !important;
    width: 205px !important;
    margin-bottom: 0px !important;
  }
  .inp2 {
    display: block;
    margin-bottom: 10px !important;
  }
  .inp {
    display: none;
  }
  .lab {
    display: none;
  }
  .dis {
    display: none !important;
  }
  .btn {
    width: 90%;
  }
  .hel {
    display: block !important;
    margin-top: 20px;
  }
}
.footer {
  border-top: 1px solid rgb(200, 200, 200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 50px;
}
.footer .play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 35px;
  padding: 20px;
}
.footer .play .logo {
  /* whatsapp */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 34px */
  letter-spacing: -0.03em;
  text-transform: lowercase;
  color: #142251;
}
.footer .play .email {
  /* Adrasteia@mail.com */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 34px */
  letter-spacing: -0.03em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: #213887;
}
.footer .under {
  /* Политика конфиденциальности */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 110%;
  /* identical to box height, or 20px */
  letter-spacing: -0.04em;
  text-decoration-line: underline;
  /* #AFB4C4 */
  color: #989eb1;
}
.footer .blue {
  /* Дизайн и разработка - Karanikola */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.04em;
  text-decoration-line: underline;
  color: #213887;
}
.footer .num {
  /* © 2022 */
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 100%;
  /* identical to box height, or 20px */
  letter-spacing: -0.04em;
  /* #AFB4C4 */
  color: #989eb1;
}

@media only screen and (max-width: 500px) {
  .footer {
    padding: 20px !important;
  }
  .play {
    display: none !important;
  }
  .under {
    font-size: 12px !important;
  }
  .blue {
    font-size: 12px !important;
  }
  .num {
    font-size: 12px !important;
  }
}/*# sourceMappingURL=style.css.map */