.clients {
  width: 90%;
  height: 800px;
  display: flex;
  justify-content: center;
  background-size: 75% 60%;
  padding: 50px;
  background-color: #f2f3f8;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-image: url(../img/graphic.png);
  .h6{
    width: 185px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 90%;
    /* or 76px */
    letter-spacing: -0.04em;
    color: #142251;
  }
  .super {
    width: 56%;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      background-color: white;
      .min {
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        border-radius: 10px;
        background-color: rgb(228, 228, 228);
      }
      .gray {
        font-family: "Gilroy";
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 140%;
        /* identical to box height, or 48px */
        letter-spacing: -0.03em;

        /* #AFB4C4 */
        color: #989eb1;
      }
    }
  }
  .p {
    width: 245px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    /* or 41px */
    letter-spacing: -0.03em;

    /* #AFB4C4 */
    color: #989eb1;
  }
}
.pp {
  display: none;
  width: 258px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 20px 0;
  /* or 41px */
  letter-spacing: -0.03em;

  /* #AFB4C4 */
  color: #989eb1;
}
@media only screen and (max-width: 500px) {
  .clients {
    height: auto;
    padding: 20px;
    flex-direction: column;
  }
  .h6{
    font-size: 40px !important;
  }
  .pp{
    display: block;
  }
  .p{
    display: none;
  }
  .container{
    width: 120px !important;
    height: 120px !important;
  }
  .gray{
    font-size: 16px !important;
  }
  .min{
    width: 50px !important;
    height: 50px !important;
  }
  .super{
    width: 340px !important;
    gap: 10px !important;
  }
}
