*{
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 1400px;
    height: auto;
    margin: auto;
}
@media only screen and (max-width:500px){
    .wrapper{
        width: 100%;
    }
}